<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>


    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nobis sunt quae voluptas alias maiores minima, laboriosam et fuga, inventore illum optio, eaque temporibus quas totam nemo repellendus asperiores ipsa?</h1>


    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque autem porro nobis ullam quisquam corporis tempora nulla culpa, illum aperiam ad explicabo fuga id deserunt sit. Tempore deleniti in ab.</h2>
    
</body>
</html>